/* If you like this, be sure to ❤️ it. */
.wrapper10 {

    /* This part is important for centering the content */
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper10 a {
    display: inline-block;
    text-decoration: none;

    color: #585858;
}

.modal10 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 300px;
    left: 0px;
    margin-left: -168px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    margin-top: 38px;
    border: 0.5px solid rgb(220, 214, 214);

}

.modal10:target {
    visibility: visible;
    opacity: 1;
}

.modal__content10 {
    border-radius: 4px;
    position: relative;
    width: 300px;
    background: #fff;
    padding: 1em 2em;
}

.modal__footer10 {
    text-align: right;

}

.modal__close10 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.countNumberBtn {
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: rgb(224, 224, 226)
}

.accountCard {
    width: 1300px;
    background-color: rgb(245, 245, 247);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* margin: 0 auto; */
    position: absolute;
    margin-left: -200px;
    margin-top: -200px;

}

.listCard {
    display: flex;
    background-color: white;
    border: 1px solid rgb(237, 235, 235);
    gap: 20px;
    padding: 0px 0px 0px 10px;
    /* background-color: rebeccapurple */
}

.infoDetails {
    width: 100%;
    padding: 0px 10px;
}

.buildingIcon {
    border: 1px solid rgb(211, 207, 215);
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 100%;
    margin-top: 10px;
}

.nameInfo {
    display: flex;
    gap: 3px;
}