.container {

    display: flex;
}

.main {
    margin-top: -10px;
}

.card {
    width: 250px;
    height: 100px;
    border: 0.5px solid rgb(235, 232, 232);
    border-radius: 0px;
    margin-top: -10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(224, 224, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 0px 15px;
}

.balance {
    color: rgb(33, 25, 25);
}

.btn1 {
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-top: -15px; */
    gap: 5px;
    margin-top: 10px;

}

.addBenefic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    height: 40px;
    border: 0.5px solid rgb(224, 224, 226);
    background-color: rgb(224, 224, 226);
    border-radius: 2px;
  

}

.number {
    color: black;
    height: 40px;
    border: 0.5px solid rgb(224, 224, 226);
    background-color: rgb(224, 224, 226);
    border-radius: 2px;


}


.btn2 {
    width: 210px;
    height: 40px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    border: 0.5px solid rgb(175, 172, 172);
    position: relative;
    border-radius: 3px;
    margin-right: -100px;

}



.disable {
    opacity: .3;
    cursor: not-allowed;
    backdrop-filter: blur(20px) saturate(120%) contrast(200%);
}

.active {
    opacity: 1;
    cursor: pointer;
    backdrop-filter: none;
}


/* 
.btn2:hover {
    background-color: #0048ba;
    color: white;
    border: none;
} */

.transfer {
    margin-top: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: rgb(224, 224, 226);
    width: 80px;
    gap: 2px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    justify-content: center;
    justify-items: center;
    border-radius: 2px;
    border: 0.5px solid rgb(208, 206, 206);

}

.transfer:hover {
    background-color: #0048ba;
    color: white;
    border: none;
}

/* .number:hover {
    background-color: #0048ba;
    color: white;
} */

.add {
    cursor: pointer;
    font-size: 15px;
}


.modalBtn {

    display: flex;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    border: 0.5px solid rgb(185, 182, 182);
    border-radius: 3px;
}